# Ignore .env file
.env

# Ignore virtual environment directory
venv/

# Ignore log files
*.log

# Ignore CSV files
*.csv
# Ignore Python bytecode cache
python_cli/__pycache__/

# Ignore specific file inside uploads folder
python_cli/uploads/*
